// The Weight of Ruin - Local Font Declarations
// Fonts are stored in /fonts directory

// IM Fell English - Primary display font
@font-face {
  font-family: 'IM Fell English';
  src: url('../fonts/IMFellEnglish-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IM Fell English';
  src: url('../fonts/IMFellEnglish-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

// IM Fell English SC - Small Caps variant
@font-face {
  font-family: 'IM Fell English SC';
  src: url('../fonts/IMFellEnglishSC-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Roboto Slab - Numeric values font (variable font)
@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/RobotoSlab-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
