{{!-- Defense Dialog Header --}}
<header class="dialog-header defense-header">
  <div class="header-content">
    <img src="{{actor.img}}" alt="{{actor.name}}" class="actor-portrait" />
    <div class="header-info">
      <h1 class="dialog-title">{{localize "AOA.Defense.Title"}}</h1>
      <span class="actor-name">{{actor.name}}</span>
    </div>
  </div>
</header>
